@model IEnumerable<EmmasCauseShop.Models.Cause>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseCreator.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CauseDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CausePictureUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseCreator.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CauseDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CausePictureUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CauseId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CauseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CauseId })
        </td>
    </tr>
}

</table>
